<div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a routerLink="/Home" class="simple-text">
                DO IT Now
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/Home">
                    <i class="nc-icon nc-bank"></i>
                    <p>Home</p>
                </a>
            </li>

            <li>
                <a class="nav-link" routerLink="/AddTeam">
                    <i class="nc-icon  nc-circle-09"></i>
                    <p>Add Team Member</p>
                </a>
            </li>
            <li>
                <a class="nav-link" routerLink="/AddTask">
                    <i class="nc-icon nc-single-copy-04 "></i>
                    <p>Add Tasks</p>
                </a>
            </li>

            <li>
                <a class="nav-link" routerLink="/AViewReport">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>View Reports</p>
                </a>
            </li>
            <li>
                <a class="nav-link" routerLink="/EmpList">
                    <i class="nc-icon nc-notes"></i>
                    <p>View Member List</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./icons.html">
                    <i class="nc-icon nc-notification-70"></i>
                    <p>Send Notification</p>
                </a>
            </li>
            <!-- <li>
                <a class="nav-link" href="./notifications.html">
                    <i class="nc-icon nc-chat-round"></i>
                    <p>View Reviews</p>
                </a>
            </li> -->
            <li>
                <a class="nav-link" href="./maps.html">
                    <i class="nc-icon nc-button-power"></i>
                    <p>Logout</p>
                </a>
            </li>


        </ul>
    </div>
</div>