<div class="documentation" style="margin-top: -10px">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent">
    <a class="navbar-brand" href="#">
      <b>Do It Now</b>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="nc-icon nc-bullet-list-67" style="color: white"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavId">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="/Index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/UserLogin">Sign In</a>
        </li>

      </ul>

    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="page-header clear-filter" filter-color="purple">
      <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/full-screen-image-3.jpg')">
        <div class="filter"></div>
        <div class="title-container text-center">
          <h1>Welcome To Do It Now Application</h1>
          <h3>All Workflow Manage From Here</h3>
          <br />
          <a href="http://demos.creative-tim.com/light-bootstrap-dashboard/documentation/tutorial-components.html" class="btn btn-round btn-neutral btn-fill"
            target="_blank">Go To Dashboard</a>
        </div>
      </div>
    </div>

    <Footer></Footer>
  </div>
</div>